<%- include('cabecalho_form') %>

<div class="titulo">
  Faça um comentário
</div>
    <form class="form" action="/comentar" method="POST">
 <!--   <div class="form-group">
            <label for="nome">ID</label>
            <input
                type="text"
                class="form-control"
                id="id"
                name="id"
                readonly="readonly"
            />
        </div>  -->

        <div class="form-group">
            <label for="conteudo">Comentário</label>
            <input
                type="text"
                class="form-control"
                id="conteudo"
                name="conteudo"
                required
            />
        </div>
        <button id="save-btn" type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <!-- Início do VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <!-- Fim do VLibras -->

<%- include('rodape') %>