<%- include('cabecalho') %>

    <div class="actor-cards-container">
        <div class="cards-content">
            <div class="card banner-111">Assane Diop - Omar Sy</div>
            <div class="card banner-222">Claire Laurent - Ludivine Sagnier</div>
            <div class="card banner-33">Hubert Pellegrini - Hervé Pierre</div>
            <div class="card banner-4">Babakar Diop - Fargass Assandé</div>
            <div class="card banner-5">Raoul Diop - Etan Simon</div>
            <div class="card banner-6">Mariama - Naky Sy Savané</div>
            <div class="card banner-7">Assane Diop (Jovem) - Mamadou Haidara</div>
            <div class="card banner-8">Juliette Pellegrini- Clotilde Hesme</div>
            <div class="card banner-9">Anne Pellegrini - Nicole Garcia</div>
            <div class="card banner-10">Benjamin Ferel - Antoine Gouy</div>
            <div class="card banner-11">Youssef Guedira - Soufiane Guerrab</div>
            <div class="card banner-12">Cpt. Romain Laugier - Vincent Londez</div>
            <div class="card banner-13">Lt. Sofia Belkacem - Shirine Boutella</div>
            <div class="card banner-14">Gabriel Dumont - Vincent Garanger</div>
            <div class="card banner-15">Claire Laurent (Jovem) - Ludmilla Makowski</div>
            <div class="card banner-16">Benjamin Ferel (Jovem) - Adrian Valli de Villebonne</div>
            <div class="card banner-17">Juliette Pellegrini (Jovem) - Léa Bonneau</div>
            <div class="card banner-18">Gabriel Dumont (Jovem) - Johann Dionnet</div>
            <div class="card banner-19">Fabienne Bériot - Anne Benoit</div>
            <div class="card banner-20">Léonard Koné - Adama Niane</div>
            <div class="card banner-21">Pascal Oblet - Nicolas Wanczycki</div>
            <div class="card banner-22">Fleur - Martha Canga Antonio</div>
            <div class="card banner-23">Jean-Luc Keller (1998) - Salif Cissé</div>
            <div class="card banner-24">Jean-Luc Keller (2021) - Steve Tientcheu</div>
            <div class="card banner-25">Bruno (1998) - Noé Wodecki</div>
            <div class="card banner-26">Bruno (2021) - Pierre Lottin</div>
        </div>
    </div>

    <!-- Início do VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <!-- Fim do VLibras -->

    <!-- <div class="actor-cards-container">
        <div class="cards-content">
            <div class="card banner-4">exemplo 1</div>
            <div class="card banner-5">exemplo 2</div>
            <div class="card banner-6">exemplo 3</div>
        </div>
    </div> -->

<%- include('rodape') %>