<%- include('cabecalho') %>

    <div class="titulo_temp">
        Episódios - Temporada 2
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">1</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E06-8f0492a7088ebb2b650bbf991a25f7bd-thumb.jpg" alt="Episódio 6">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 6 </h2>
            <p class="descricao fonte">Assane procura Raoul com Guédira em sua cola. Em uma mansão deserta na Normandia, Leonard e Assane se enfrentam em um confronto tenso.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">2</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E07-be8021d1445d542707d41052b2320a85-thumb.jpg" alt="Episódio 7">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 7 </h2>
            <p class="descricao fonte">Hubert faz um acordo com Dumont e prepara uma armadilha para Assane, que está um passo à frente. Claire bate à porta de Hubert.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">3</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E08-fdf0db7c27547908506ecc651d6aa8cc-thumb.jpg" alt="Episódio 8">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 8 </h2>
            <p class="descricao fonte">Assane tenta ganhar a confiança de Juliette com uma série de trapaças e bola um plano elaborado para pegar Hubert desprevenido. </p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">4</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E09-d7ed6cf9448788231b14a652078c73bf-thumb.jpg" alt="Episódio 9">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 9 </h2>
            <p class="descricao fonte">Leonard segue Assane até sua casa. Hubert planeja uma cilada. Assane deixa uma pista digital para Guédira que lança uma luz sobre Dumont.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">5</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E10-8eb9b61de948fc7d476acc53cef9259b-thumb.jpg" alt="Episódio 10">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 10 </h2>
            <p class="descricao fonte">Assane e Benjamin elaboram um plano audacioso para levar Hubert à justiça. Para isso, eles contam com a ajuda de um cúmplice brilhante e disfarçado.</p>
        </div>
    </div>

    
<%- include('rodape') %>