<%- include('cabecalho') %>

    <div class="titulo_temp">
        Episódios - Temporada 3
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">1</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E01-b429ab5fdf00aa75b00e4a479202748e-thumb.jpg" alt="Episódio 1">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 1 </h2>
            <p class="descricao fonte">Querendo resolver tudo com Claire e Raoul, Assane cria um plano para retirá-los da França. Mas uma decisão arriscada gera ainda mais riscos, e não há espaço para erros.            </p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">2</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E02-c6696fda52c667843aaa6f6b3a5c88c6-thumb.jpg" alt="Episódio 2">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 2 </h2>
            <p class="descricao fonte">Uma grande perda abala a França, mas Guédira e Raoul estão em negação.Um anúncio misterioso ressuscita antigos fantasmas e esperanças perdidas. </p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">3</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E03-9c7610736e94c7064b3e39009611597c-thumb.jpg" alt="Episódio 3">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 3 </h2>
            <p class="descricao fonte">Fleur e Guédira fazem um acordo. Belkacem visita Benjamin. Assane tenta ser mais esperto do que um novo inimigo enquanto cuida de sua família.            </p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">4</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E04-2299bf505cf7b598cb55e92c0cf04245-thumb.jpg" alt="Episódio 4">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 4 </h2>
            <p class="descricao fonte">Assane encontra quem sequestrou a mãe, mas não há sinal dela. Diante de outro roubo impossível, ele faz uma escolha devastadora.        </p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">5</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E05-58311489d3839d235a43c7fa3838a286-thumb.jpg" alt="Episódio 5">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 5 </h2>
            <p class="descricao fonte">Cada vez mais desconfiada, Claire decide investigar por conta própria. Guédira é surpreendido por uma oportunidade com que todo amante da literatura sonha.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">6</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E06-dadf07f3a4113f3e02084ffed05ef7df-thumb.jpg" alt="Episódio 6">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 6 </h2>
            <p class="descricao fonte">Após identificar o inimigo, Assane corre para proteger a família e evitar retaliações. Belkacem continua desconfiando de Guédira. Mariama envia uma mensagem.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">7</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S02E07-6ee4bf93fd79c44b012417818ac831b9-thumb.jpg" alt="Episódio 7">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 7 </h2>
            <p class="descricao fonte">Enfim acontece uma reunião de família muito aguardada. Mariama ajuda Assane em sua última tentativa de impedir Keller, corrigir os erros e encerrar tudo com estilo.</p>
        </div>
    </div>

    
<%- include('rodape') %>