<%- include('cabecalho') %>

    <div class="titulo_temp">
        Episódios - Temporada 1
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">1</h1>
        <img class="imagem_ep" src="https://www.cultura.id/wp-content/uploads/2021/01/Lupin-netflix.jpeg" alt="Episódio 1">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 1 </h2>
            <p class="descricao fonte">Anos depois de uma trágica injustiça, Assane tenta acertar as contas - e quitar uma dívida - roubando um colar de diamante, mas o roubo não sai como esperado.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">2</h1>
        <img class="imagem_ep" src="https://i.blogs.es/5e974a/escena-lupin-netflix/1366_2000.jpeg" alt="Episódio 2">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 2 </h2>
            <p class="descricao fonte">Assane bola um plano para entrar em contato com Comet, um preso que o leva a uma pista sobre a morte de Babakar. Anne Pellegrini se abre sobre o passado.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">3</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E03-89cdc701efd1abb33fafff0638d8f224-thumb.jpg" alt="Episódio 3">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 3 </h2>
            <p class="descricao fonte">Assane confronta o comissário Dumont e dá um jeito de despistar a polícia. A ligação de Hubert Pellegrini com o destino de Babakar vem à tona.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">4</h1>
        <img class="imagem_ep" src="https://specials-images.forbesimg.com/imageserve/60c4e858a7795382e848fbed/960x0.jpg?fit=scale" alt="Episódio 4">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 4 </h2>
            <p class="descricao fonte">Assane pede ajuda a uma jornalista para conseguir provas contra Hubert. O policial Guédira liga os pontos no caso do assalto ao Louvre.</p>
        </div>
    </div>

    <div class="episodios-container">
        <h1 class="numero_ep">5</h1>
        <img class="imagem_ep" src="https://pogd.es/assets/episodes/Lupin/Lupin-S01E05-bbaebb996f6835934204c0d95c7ba304-thumb.jpg" alt="Episódio 5">
        <div class="episodio-info">
            <h2 class="titulo_ep fonte">Capítulo 5 </h2>
            <p class="descricao fonte">A caminho de Étretat com Claire e Raoul, Assane encontra uma figura inoportuna. Encurralado, Assane manda uma mensagem ao capitão Laugier.</p>
        </div>
    </div>

    <!-- Início do VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <!-- Fim do VLibras -->

    
<%- include('rodape') %>